/* sidebar.css */
.sidebar {
    border-right: 1px solid #ddd;
    background-color: #f7f7f7;
    overflow-y: auto;
    transition: width 0.3s;
}

.sidebar.expanded {
    width: 200px;
}

.sidebar.collapsed {
    width: 50px; /* Ajuste conforme necessário */
}

.sidebar-header {
    font-weight: bold;
    padding: 10px 5px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-space {
    margin-right: 10px;
}

.entity {
    padding: 5px;
    border: 1px solid #ccc;
    margin: 5px 0;
    cursor: pointer;
    background-color: white;
    transition: background-color 0.3s, border-color 0.3s;
}

.entity:hover {
    background-color: #e6e6e6;
    border-color: #aaa;
}
